# **Librerias**

In [3]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np 
import seaborn as sns

## **Carga de datos**

In [5]:
read_data_excel = pd.read_excel(r"C:\Users\Moises Almanzar\Desktop\Proyecto Samsung\Esperanza de vida RD.xlsx")

read_data_excel

,República Dominicana - Esperanza de vida al nacer,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,Fecha,Esperanza de vida - Mujeres,Esperanza de vida - Hombres,Esperanza de vida
1,2021,"76,29","69,30","72,62"
2,2020,"76,91","69,36","72,89"
3,2019,"76,97","70,47","73,58"
4,2018,"76,50","70,23","73,23"
...,...,...,...,...
58,1964,"54,92","50,38","52,54"
59,1963,"54,13","49,68","51,80"
60,1962,"53,79","49,26","51,41"
61,1961,"53,20","48,71","50,84"
62,1960,"52,61","48,15","50,26"